<section class="footer">
    <div class="container">
        <hr>
        <ul class="list-inline">
            <li><a href="/#!/about">About</a></li>
            <li><a href="/#!/terms">Terms</a></li>
            <li><a href="/#!/contact">Contact Us</a></li>
        </ul>
    </div>
</section>
