<section data-ng-controller="UsersController" data-ng-init="findOne()">
    <h1>Account Settings</h1>

    <form role="form" data-ng-submit="update()">
        <div class="form-group">
            <label for="email" class="control-label">Email address</label>
            <input type="email" class="form-control" data-ng-model="user.email" id="email">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Save</button>
        </div>
    </form>
</section>