<section data-ng-controller="ShowsController" data-ng-init="find()">
    <div data-ng-repeat="show in shows">
        <h2><a data-ng-href="#!/shows/{{show._id}}">{{show.name}}</a></h2>
        <div>{{show.description}}</div>
    </div>
</section>