<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">
	{% include '../includes/head.html' %}
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" data-ng-include="'views/header.html'" data-role="navigation"></div>
		<section class="content">
            <section class="container">
  		        {% block content %}{% endblock %}
            </section>
        </section>
        {% include '../includes/foot.html' %}
    </body>
    <div data-ng-include="'views/footer.html'"></div>
</html>
